.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent white background */
    z-index: 9999; /* Higher than other elements */
}

.page {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    min-height: 90vh;
    height: auto;
    justify-content: center;
}

.movieCard {
    width: 220px;
    height: 300px;
}

.movieCard .poster {
    display: flex;
    justify-content: center;
}

.movieCard .title {
    font-size: 14px;
    font-weight: 500;
}

.movieCard .cardBody {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* MOVIE DETAILS */

.highlighted {
    color: #ADD8E6;
}

.modal-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.modal-container 
.modal-header-container {
    gap: 1rem;
}

.modal-container 
.modal-header-container 
.modal-header-container--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.modal-container 
.modal-header-container 
.modal-header-container--title 
.header-title {
    font-size: 18px; 
    text-align: left;   
}

.modal-container 
.modal-header-container 
.modal-header-container--title 
.header-badge {
    height: fit-content;    
}

.modal-container 
.modal-header-container
.modal-header-container--body p{
    font-size: 13px;
    text-align: left; 
    text-transform: capitalize;
}

.modal-container 
.modal-body-container {
    margin-top: 1rem;
    gap: 1rem;
}

.modal-container
.modal-body-container
.modal-body-container--head p {
    font-size: 14px;
}

.modal-container
.modal-body-container
.modal-body-container--body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-container
.modal-body-container
.modal-body-container--body p {
    font-size:13px;
}