.page {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    min-height: 90vh;
    height: auto;
    justify-content: center;
}

.movieCard {
    width: 220px;
    height: 340px;
}

.movieCard .poster {
    display: flex;
    justify-content: center;
}

.movieCard .title {
    font-size: 14px;
    font-weight: 500;
}

/* MOVIE DETAILS */

.modal-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.modal-container 
.modal-header-container {
    /* margin-right: 0.5rem; */
    /* flex-direction: row; */
    gap: 1rem;
    /* justify-content: left; */
}

.modal-container 
.modal-header-container 
.modal-header-container--title {
    display: flex;
    flex-direction: row;
}

.modal-container 
.modal-header-container 
.modal-header-container--title 
.header-title {
    font-size: 18px;
}

.modal-container 
.modal-header-container
.modal-header-container--body p{
    font-size: 13px;
    text-align: left; 
}


#modal-container 
#modal-body-container {
    /* width: 33%; */
    margin-left: 0.5rem;
}

.modal-container
.modal-body-container
.modal-body-container--head {
    font-size: 12px;
}

.modal-container
.modal-body-container
.modal-body-container--body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}